{%  extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="cover-section" id="top-button">
        <div class="container">
            <div class="row center">
                <img src="{{ asset('image/logo-simple.png') }}" width="117" height="144" alt="">
            </div>
            <h1>Nous contacter !</h1>
        </div>

        <!-- En cas de succès d'envoi du mail, on affiche un message-->
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <!-- En cas d'erreur dans la saisie du formulaire, on affiche un message-->
        {% if not form.vars.valid %}
            <div class="alert alert-warning">
                Veuillez v&eacute;rifier les informations de votre formulaire : elles ne sont pas conformes !
            </div>
        {% endif %}


        <div class="container">
            <div class="row justify-content-center">
                <div class="media-container-column col-lg-8" data-form-type="formoid">
                    {{ form_start(form) }}
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form) }}
                    </div>
                    <div class="row row-sm-offset">
                        <div class="col-md-4 multi-horizontal" data-for="firstname">
                            {{ form_row(form.prenom) }}
                        </div>
                        <div class="col-md-4 multi-horizontal" data-for="lastname">
                            {{ form_row(form.nom) }}
                        </div>
                        <div class="col-md-4 multi-horizontal" data-for="phone">
                            {{ form_row(form.phone) }}
                        </div>
                    </div>
                    {{ form_row(form.email) }}{{ form_help(form) }}

                    {{ form_rest(form) }}
                    <div class="form-group">
                        <button class="btn btn-lg btn-success">Envoyer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}