{%  extends 'base.html.twig' %}

{% block title %}SpaProject{% endblock %}

{% block body %}
    <div class="cover-section" id="top-button">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInDown animated">
                    <div class="slider-item">
                        <img src="{{ asset('image/logo-simple.png') }}" width="117" height="144" alt="">
                        <h2>Anne-C&eacute;cile Viault Chervier</h2>
                        <p>Masseur-kin&eacute;sith&eacute;rapeute &agrave; Venelles, je vous propose des prestations de Massage Californien &agrave; mon cabinet pour tous les particuliers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="purilfy-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="purifliy-item wow fadeInDown animated">
                        <h3>D&eacute;couvrez les bienfaits du massage Californien</h3>
                        <p>&laquo; Le massage est aussi n&eacute;cessaire &agrave; l&apos;&ecirc;tre humain que les c&eacute;r&eacute;ales dont il se nourrit &raquo; disait Socrate.</p>
                        <p>Un art que le sage Orient n'a jamais oubli&eacute;, les indiens le pratiquent tous  les jours.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInDown animated disabled" data-toggle="tooltip" data-placement="bottom" title="Bientôt disponible">
                    <h4>Notre offre sp&eacute;ciale : </h4>
                    <h2>Massage de 45 min. pour seulement 65&euro;</h2>
                    <a href="{{ path('contact') }}">Prenez un rendez-vous !</a>
                </div>
            </div>
        </div>
    </div>

    <div class="benefit-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title">Les b&eacute;n&eacute;fices du bien-&ecirc;tre</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 benefit-item wow fadeInDown animated" data-wow-delay="0.2s">
                    <h3>Benefice 1</h3>
                    <a href="#"><img src="{{ asset('image/beneifit1.png') }}" width="207" height="208" class="img-responsive" alt=""></a>
                    <h2>Equilibre</h2>
                    <p>Un retour &agrave; l&apos;&eacute;quilibre nerveux.</p>
                </div>
                <div class="col-md-3 benefit-item wow fadeInDown animated" data-wow-delay="0.4s">
                    <h3>Benefice 2</h3>
                    <a href="#"><img src="{{ asset('image/benefit2.png') }}" width="207" height="208"  class="img-responsive" alt=""></a>
                    <h2>Apaisement</h2>
                    <p>Un apaisement provoqu&eacute; par la stimulation de nombreuses terminaisons nerveuses.</p>
                </div>
                <div class="col-md-3 benefit-item wow fadeInDown animated" data-wow-delay="0.6s">
                    <h3>Benefice 3</h3>
                    <a href="#"><img src="{{ asset('image/benefit3.png') }}" width="225" height="226" class="img-responsive"  alt=""></a>
                    <h2>R&eacute;cup&eacute;ration</h2>
                    <p>Quand la kin&eacute; rejoint le sport et am&eacute;liore la r&eacute;cup&eacute;ration.</p>
                </div>
                <div class="col-md-3 benefit-item wow fadeInDown animated" data-wow-delay="0.8s">
                    <h3>Benefice 4</h3>
                    <a href="#"><img src="{{ asset('image/benefit4.png') }}" width="207" height="208" class="img-responsive"  alt=""></a>
                    <h2>Estime</h2>
                    <p>Am&eacute;lioration rapide de son estime personnel et de sa prise en charge.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="message-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 wow fadeInDown animated">
                    <h2 class="section-title">MASSAGE CALIFORNIEN</h2>
                    <p>Partant d'effleurages doux, enveloppants et relaxants, les manoeuvres s&rsquo;encha&icirc;nent et s&rsquo;intensifient pour soulager des tensions plus profondes. Cela peut faire surgir et libérer des émotions cachées, inscrites dans la mémoire corporelle. Plus la personne massée s’abandonne à l'expérience, plus elle s'ouvre à ce que le massage californien qualifie de toucher du coeur.</p>
                    <p>Profond&eacute;ment sensible, le bon d&eacute;roulement du massage californien dépend totalement de la connexion entre le donneur et le receveur. En effet, il est primordial que le thérapeute soit à l'écoute et que le massé soit en totale confiance.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="news-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 news-item">
                    <div class="news-deatils wow fadeInDown animated" data-wow-delay="0.2s">
                        <div class="col-md-6 thumbnail">
                            <img src="{{ asset('image/blog1.png') }}" width="249" height="272" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-6 content">
                            <span>23 Dec 2018</span>
                            <p>Pourquoi le massage californien ?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 news-item">
                    <div class="news-deatils wow fadeInDown animated" data-wow-delay="0.5s">
                        <div class="col-md-6 thumbnail">
                            <img src="{{ asset('image/blog2.jpg') }}" width="249" height="272" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-6 content">
                            <span>09 jan 2019</span>
                            <p>Bonne année, bonnes résolutions...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="client-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title">Témoignages de nos clients</h2>
                    <p class="title-cap"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="client-item wow fadeInDown animated" data-wow-delay="0.2s">
                        <div class="client-content">
                            <i class="fa fa-quote-left"></i>
                            <p>Un moment très agréable et une belle rencontre. Un grand merci ! Je reviendrai sans doute trés vite...</p>
                        </div>
                        <a href="#"><img src="{{ asset('image/client1.png') }}" alt=""> </a>
                        <h3>Natacha D.</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="client-item wow fadeInDown animated" data-wow-delay="0.5s">
                        <div class="client-content">
                            <i class="fa fa-quote-left"></i>
                            <p>Très bonne séance de massage  qui a immédiatement soulagé mes tensions du dos. Je recommande vivement ! </p>
                        </div>
                        <a href="#"><img src="{{ asset('image/client2.png') }}"  alt=""> </a>
                        <h3>Nadia R.</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="client-item wow fadeInDown animated" data-wow-delay="0.8s">
                        <div class="client-content">
                            <i class="fa fa-quote-left"></i>
                            <p>D'une grande douceur et d'un grand professionnalisme. Je me suis relâchée complétement, un vrai moment de détente.</p>
                        </div>
                        <a href="#"><img src="{{ asset('image/client.png') }}"alt=""> </a>
                        <h3>Carla S.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blog-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title-section">En direct du Blog...</h2>
                    <p class="title-cap">... ce qu'en disent nos clients.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 wow fadeInDown animated" data-wow-delay="0.2s">
                    <div class="row">
                        <div class="col-md-3 blog-thumb">
                            <a href="#"><img src="{{ asset('image/blog-item1.png') }}" width="127" height="190" alt=""></a>
                        </div>
                        <div class="col-md-9 blog-content">
                            <h3>Carla S.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#">Lire plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInDown animated" data-wow-delay="0.5s">
                    <div class="row">
                        <div class="col-md-3 blog-thumb">
                            <a href="#"><img src="{{ asset('image/blog-item2.png') }}" width="127" height="190" alt=""></a>
                        </div>
                        <div class="col-md-9 blog-content">
                            <h3>Natacha D.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#">Lire plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title">Tarifs</h2>
                    <p class="section-cap">Notre offre complète et accessible.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 table-content wow fadeInDown animated" data-wow-delay="0.2s">
                    <div class="table-item sliver">
                        <h2>45<sup>€</sup></h2>
                        <h3>Express</h3>
                        <ul>
                            <li>Lorem ipsum</li>
                            <li>dolor sit amet</li>
                            <li>consectetur</li>
                            <li>adipisicing elit (30min)</li>
                        </ul>
                        <a href="#">Réservez...</a>
                    </div>
                </div>
                <div class="col-md-4 table-content wow fadeInDown animated" data-wow-delay="0.5s">
                    <div class="table-item gold">
                        <h2>65<sup>€</sup></h2>
                        <h3>Plaisir</h3>
                        <ul>
                            <li>Lorem ipsum</li>
                            <li>dolor sit amet</li>
                            <li>consectetur</li>
                            <li>adipisicing elit (45min)</li>
                        </ul>
                        <a href="#">Réservez...</a>
                    </div>
                </div>
                <div class="col-md-4 table-content wow fadeInDown animated" data-wow-delay="0.81s">
                    <div class="table-item platinum">
                        <h2>85<sup>€</sup></h2>
                        <h3>Relaxation Extrême</h3>
                        <ul>
                            <li>Lorem ipsum</li>
                            <li>dolor sit amet</li>
                            <li>consectetur</li>
                            <li>adipisicing elit (1h)</li>
                        </ul>
                        <a href="#">Réservez...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}

